body
{
   margin-top: 0px;  
   background-image: url(banner_section.png); 
   background-repeat: repeat-x;
   background-position: 0 -5px;
   font-family:  Arial, Helvetica;
}

body.research
{
    margin: 0px 50px;
}

a {
    color: #850000;
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
}

.banner
{
   height: 140px;  
   padding: 15px;
   width:460px;
   margin: 0 auto;
}

.bannerimage
{
   margin-left: auto;
   margin-right: auto;
   display: block;
}

.centralcolumn
{
   width:100%;
   max-width: 1200px;
   margin: 0 auto;
   border-radius:3px;
}

.centralcolumninner
{
   margin-top:20px;
   width:100%;
   max-width: 1200px;
   overflow:hidden;
}

.frontpagebubbletop
{
    background-color: #eef3fb;
    padding: 15px 25px;
    box-sizing:border-box;
    border-radius: 5px;
    width:55%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
}

.frontpagebubble
{
    background-color: #eef3fb;
    padding: 25px 55px 10px 55px;
    box-sizing:border-box;
    border-radius: 5px;
    width:55%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    text-align: center;
}

.frontpagebubble ul {list-style-type: none; -webkit-padding-start : 0}
.frontpagebubble li {margin: 24px 0; }
.frontpagebubble a {font-size: 1em; font-weight: bold;}
.frontpagebubble p {padding: 0px 15px}
.research li {margin: 0px 25px;}

.frontpagefooter
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.textbubble
{
    background-color: #eef3fb;
    padding: 15px 25px 10px 15px;
    box-sizing:border-box;
    border-radius: 5px;
    width:55%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
}
.textbubble ul {list-style-type: none; margin: 10px 0px 0px 0px;}
.textbubble li {margin: 25px 0;}



/*
.researchbubble
{
    text-align: left;
}
.researchbubble p {padding: 10px 0px}
*/


.articlebodyouter
{
   width:97%;
   max-width: 1200px;
   margin: 10px auto;
}

.articlebodyinner
{
   padding: 0px 48px;
   border-radius:3px;
   background-color:#ffffff;
}

.code
{
   line-height: 1em;
   display: block;
   font-family: monospace;
   white-space: pre;
   margin: 1em 0px;
   border: 1px dotted black;
}

/* Style overrides for narrow screens. */
@media screen and (max-width: 680px) 
{        
    body.research {
        margin: 0px 15px;
    }

    .bannercolumn
    {
       width:100%;
    }

    .banner
    {
        max-width: 460px;
        width: auto;
        padding: 15px 0px;
    }

    .frontpagebubble
    {
        background-color: #eef3fb;
        padding: 15px;
        border-radius: 5px;
        width:100%;
    }
}
